<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    <button type="button" class="d-flex btn btn-info" data-bs-toggle="modal" data-bs-target="#addModal">Request</button>
    <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">Add Assignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="activities/add">
                    {% csrf_token %}
                    <div class="modal-body text-start">
                        {{ form_add_assignment.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card bg-dark border-0">
        {% for assignment in assignments %}
        <div class="text-center mt-4 card-header border border-secondary rounded-top">
            {{ assignment.name }}
        </div>
        <div class="card-body border border-secondary rounded-bottom">
            <p>{{ assignment.class_id.offer.category }} {{ assignment.class_id.offer.type }}</p>
            <p>{{ assignment.skill_degree }}</p>
            <p>{{ assignment.coach_notes }}</p>
            <p>{{ assignment.student_notes }}</p>
            <div class="btn-group btn-group-toggle mt-3 float-end" data-toggle="buttons">
                <button type="button" class="d-flex btn btn-info" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
            </div>
            <div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Assignment</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body text-start">
                                <div class="mb-3">
                                    {{ form_update_assignment.as_p }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>