<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    <h5 class="bg-dark text-center" style="color:#EBDEF0">BALANCE</h5>
    {% if positive %}
    <h3 class="bg-dark text-center" style="color:#97FF33">${{ balance }}</h3>
    {% else %}
    <h3 class="bg-dark text-center" style="color:#F79EF9">-${{ balance }}</h3>
    {% endif %}
    <div class="row justify-content-md-center text-center mt-4">
        {% for name, price in classes.items %}
        <div class="col col-lg-3">
            <div class="card rounded-3 bg-dark border-secondary shadow-sm">
                <div class="card-header py-3 border-secondary">
                    <h5 class="my-0 fw-normal" style="color:#AED6F1">{{ name }}</h5>
                </div>
                <div class="card-body">
                    <h4 class="card-title pricing-card-title">${{ price }}<small class="text-body-secondary fw-light">/mo</small></h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>