<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    <h5 class="bg-dark text-center mt-4 mb-4" style="color:#EBDEF0">BALANCE</h5>
    {% if positive %}
    <h4 class="bg-dark text-center mb-4" style="color:#97FF33">${{ balance }}</h4>
    {% else %}
    <h4 class="bg-dark text-center mb-4" style="color:#F79EF9">-${{ balance }}</h4>
    {% endif %}
    <div class="row justify-content-md-center text-center">
        {% for name, price in classes.items %}
        <div class="col col-lg-3 mt-4">
            <div class="card rounded-3border-secondary shadow-sm">
                <div class="card-header py-3 border-secondary">
                    <p class="my-0 fw-normal" style="color:#AED6F1">{{ name }}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title pricing-card-title">${{ price }}<small class="text-body-secondary fw-light">/mo</small></h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div><br>
    <div class="card-header border-bottom border-secondary text-center mt-4">
        <b>Payment Data</b>
    </div>
    <div class="card-body">
        <p class="card-text">
            <p>
                <img class="rounded" src="/media/icons/bank.png" alt width="60">&nbsp;&nbsp;
                &nbsp;&nbsp;<b>Royal Crown Bank</b>&nbsp;&nbsp;&nbsp;&nbsp;894 West Side Avenue&nbsp;&nbsp;&nbsp;&nbsp;Rochelle Park&nbsp;&nbsp;&nbsp;&nbsp;New Jersey&nbsp;&nbsp;&nbsp;&nbsp;07662
            </p>
            <p>
                <img class="rounded" src="/media/icons/account.png" alt width="60">&nbsp;&nbsp;
                &nbsp;&nbsp;<b>{{ account_number }}</b>
            </p>
        </p>
    </div>
</div>
{% endblock %}
</html>