<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
<html>
{% block content %}
<style>
.accordion-button:focus {
  z-index: 1;
  box-shadow: 0 0 0 .05rem #FFF !important;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
</style>
<div class="container">
    Add<br> (maybe some dates)
    {% if user.groups.all.0|slugify == 'coaches' %}
    <button type="button" class="btn btn-info px-4 mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#requestAbsence">Request</button>
    {% endif %}
    <div class="modal fade" id="requestAbsence" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Request Absence</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="/user/absence/request">
                    {% csrf_token %}
                    <div class="modal-body text-start">
                        {{ form_absence_request|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="accordion mt-4">
        {% for employee, absences in grouped_absences.items %}
        {% if employee == user %}
        Delete (only yellow, green can't be removed)<br>
        Reschedule class after acceptance, yellow -> green color<br>
        {% else %}
        COLLEAGUE ABSENCES<br>
        Beth<br>
        list<br>
        Chris<br>
        list<br>
        etc.<br>
        {% endif %}
        <div class="accordion-item border-0">
            <h2 class="accordion-header" id="heading{{ name }}">
                <button type="button" class="accordion-button collapsed border-bottom" style="color:white" data-bs-toggle="collapse" data-bs-target="#collapse{{ name|cut:' ' }}" aria-expanded="true" aria-controls="collapse{{ name }}">
                    <b>{{ name }}</b>
                </button>
            </h2>
            <div id="collapse{{ name|cut:' ' }}" class="accordion-collapse collapse {% if forloop.first %}{% endif %}" aria-labelledby="heading{{ name }}" data-bs-parent="">
                <div class="accordion-body">
                    {% for type, assignment_dict in grouped_assignment.items %}
                    <div class="row text-center">
                        <button type="button" class="btn" style="background-color:#CFF1F8;color:black" disabled><b>{{ type|upper }}</b></button>
                    </div>
                    {% for assignment in assignment_dict.assignments %}
                    <div class="card border-0">
                        <div class="card-header border-bottom border-secondary bg-dark text-center mt-4">
                            <b>{{ assignment.name }}</b>
                        </div>
                        <div class="card-body">
                            <p><i>{{ assignment.skill_degree }}</i></p>
                            {% if type == 'Individual' %}
                            {% if assignment.coach_notes %}
                            <p><b>Coach Notes:</b></p>
                            <p>{{ assignment.coach_notes|safe }}</p>
                            {% endif %}
                            {% if assignment.student_notes %}
                            <p><b>Student Notes:</b></p>
                            <p>{{ assignment.student_notes|safe }}</p>
                            {% endif %}
                            {% else %}
                            {% if assignment.coach_notes %}
                            <p><b>Notes:</b></p>
                            <p>{{ assignment.coach_notes|safe }}</p>
                            {% endif %}
                            {% endif %}
                            {% if type == 'Individual' or user.groups.all.0|slugify == 'coaches' %}
                            <button type="button" class="btn btn-info float-end px-4" data-bs-toggle="modal" data-bs-target="#update{{ assignment.id }}">Update</button>
                            <div class="modal fade" id="update{{ assignment.id }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Update {{ type }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="post" action="/user/assignment/update/{{ assignment.id }}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="modal-body text-start">
                                                <div class="mb-3">
                                                    {{ assignment.form_assignment_update|crispy }}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>