<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    {% if user.is_superuser %}
    <button type="button" class="d-flex btn btn-info px-4 mb-4" data-bs-toggle="modal" data-bs-target="#updateAbout">Update</button>
    {% endif %}
    <div class="modal fade" id="updateAbout" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">Update Description</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="/about/update">
                    {% csrf_token %}
                    <div class="modal-body text-start">
                        {{ form_about_update.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-start mt-4">
        <div class="col-4">
            <img class="rounded" src="/media/info_building.png" alt height=230>
            <img class="rounded mt-3" src="/media/info_stage.png" alt height=230>
            <img class="rounded mt-3" src="/media/info_performance.png" alt height=230>
        </div>
        <div class="col">
            {{ info.0.description|safe }}
        </div>
    </div>
</div>
{% endblock %}
</html>