<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
<html>
{% block content %}
<div class="container">
    <div class="card border-0">
        {% for coach in coaches %}
        <div class="card-header border-bottom border-secondary bg-dark text-center mt-4">
            <b>{{ coach.name }}</b>
        </div>
        <div class="card-body">
            <div class="row justify-content-start">
                <div class="col-3">
                    <img class="rounded" src="{{ coach.image.url }}" alt height=250>
                </div>
                <div class="col">
                    <p>{{ coach.description }}</p>
                    {% for class in coach.classes %}
                    <ul>
                        <li>{{ class }}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
            {% if user.is_superuser%}
            <button type="button" class="btn btn-info float-end px-4" data-bs-toggle="modal" data-bs-target="#update{{ coach.id }}">Update</button>
            {% endif %}
            <div class="modal fade" id="update{{ coach.id }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" action="/coach/update/{{ coach.id }}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body text-start">
                                <div class="mb-3">
                                    {{ coach.form_coach_update|crispy }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>