<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
<html>
{% block content %}
<div class="container text-center">
    {% if user.is_authenticated and user.groups.all.0|slugify == 'coaches' or user.is_superuser %}
    <button type="button" class="d-flex btn btn-info px-4" data-bs-toggle="modal" data-bs-target="#updateGallery">Upload</button>
    {% endif %}
    <div class="modal fade" id="updateGallery" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="/gallery/update" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body text-start">
                        <div class="mb-3">
                            {{ form_gallery_image_upload|crispy }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row row-cols-md-2 mt-4">
        {% for image in images %}
        <div>
            {% if user.is_authenticated and user.groups.all.0|slugify == 'coaches' or user.is_superuser %}
            <button type="button" class="btn-close btn-close-white btn-danger float-end" data-bs-toggle="modal" data-bs-target="#delete{{ image.id }}"></button>
            {% endif %}
            <img class="rounded mb-2" src="{{ image.image.url }}" alt height=370>
        </div>
        <div class="modal fade" id="delete{{ image.id }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete {{ type }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="/gallery/delete/{{ image.id }}">
                        {% csrf_token %}
                        <div class="modal-body text-center">
                            Do you really want to delete this image?
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>