<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    {% if user.is_authenticated and user.groups.all.0|slugify == 'coaches' %}
    <button type="button" class="d-flex btn btn-info mb-4" data-bs-toggle="modal" data-bs-target="#addActivityModal">Add</button>
    {% endif %}
    <div class="modal fade" id="addActivityModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">Add {{ activity_type }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="activity/add" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body text-start">
                        {% if activity_type == 'Info' %}
                        {{ form_add_activity.as_p }}
                        { else }
                        {{ form_add_event.as_p }}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card bg-dark border-0">
        {% for activity in activities %}
        {% if activity.type == activity_type %}
        <div class="card-header border border-secondary rounded text-center">
            {{ activity.name }}
        </div>
        <div class="card-body mb-4">
            <div class="row justify-content-start">
                <div class="col-4 text-center ">
                    <img class="rounded" src="{{ activity.photo.url }}" alt height=200>
                </div>
                <div class="col">
                    <p>{{ activity.description }}</p>
                </div>
            </div>
            {% if user.is_authenticated and user.groups.all.0|slugify == 'coaches' %}
            <div class="btn-group btn-group-toggle mt-3 float-end" data-toggle="buttons">
                <button type="button" class="d-flex btn btn-info" data-bs-toggle="modal" data-bs-target="#updateActivityModal">Update</button>
                <button type="button" class="d-flex btn btn-danger">Delete</button>
            </div>
            <div class="modal fade" id="updateActivityModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title">Update {{ activity_type }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" action="activity/update" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal-body text-start">
                                <div class="mb-3">
                                    {% if activity_type == 'Info' %}
                                    {{ form_update_activity.as_p }}
                                    { else }
                                    {{ form_update_event.as_p }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>