<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    {% for name, offer_list in grouped_offer.items %}
    <p class="text-center">{{ name }}</p>
    <div class="row row-cols-md-3 mb-3 text-center">
        {% for type, offer in offer_list.items %}
        {% if type == 'individual' %}
        <div class="col">
            {% for item in offer %}
            <p>${{ item.single_class_price }} -> ${{ item.monthly_class_price }}<br></p>
            {% endfor %}
        </div>
        {% else %}
        <div class="col">
            <p>${{ item.monthly_class_price }}<br></p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
</html>
