<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    <div class="card bg-dark border-0 mt-2">
        <div class="card-header border border-secondary text-center">
            Address Info
        </div>
        <div class="card-body">
            {% for item, value in address.items %}
            <div class="row justify-content-start">
                <div class="col-2">
                    <p>{{ item }}</p>
                </div>
                <div class="col">
                    <p>{{ value }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card-header border border-secondary rounded text-center mt-4">
            Main Contact
        </div>
        <div class="card-body">
            <p class="card-text">{{ contacts.main_contact.user.user.first_name }} {{ contacts.main_contact.user.last_name }}</p>
            <p class="card-text">{{ contacts.main_contact.user.user.email }}</p>
            <p class="card-text">{{ contacts.main_contact.user.phone_number }}</p>
        </div>
        {% if contacts.additional_contacts %}
        <div class="card-header border border-secondary rounded text-center mt-4">
            Additional Contacts
        </div>
        {% endif %}
        {% for contact in contacts.additional_contacts %}
        <div class="card-body">
            <p class="card-text">{{ contact.user.user.first_name }} {{ contact.user.last_name }}</p>
            <p class="card-text">{{ contact.user.user.email }}</p>
            <p class="card-text">{{ contact.user.phone_number }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>