<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    <div class="row justify-content-start mt-2">
        <div class="col-4">
            <img class="rounded" src="/media/info_building.png" alt height=230>
            <img class="rounded mt-3" src="/media/info_stage.png" alt height=230>
            <img class="rounded mt-3" src="/media/info_performance.png" alt height=230>
        </div>
        <div class="col">
            <p>Welcome to ArtsyVerse - the ultimate school for people with a passion for the arts!</p>
            <p>Whether you want to learn how to sing, play instruments, or dance, we've got you covered with individual and group lessons.</p>
            <p>Our goal is to help you enhance your skills and become a more accomplished performer, whether you prefer one-on-one attention or a collaborative environment.</p>
            <p>At ArtsyVerse, we guarantee an extraordinary experience that will leave a lasting impact on your journey as an artist. As a student, you even have the opportunity to join one of our music bands!</p>
            <p>If theater is your thing, we offer both standard and musical theater classes. And if you've always wanted to create your own music, our music production lessons are perfect for you.</p>
            <p>But it's not just about learning, it's about having fun too! Our classes have a wonderful atmosphere, and we provide numerous opportunities for you to showcase your talents through exciting concerts. </p>
            <p>Our coaches are not only incredibly passionate about what they do, but they also have the skills to help you on your learning journey. So why wait? Head over to the offer bar in the navigation panel and join our school today!</p>
            <p>Let your creativity shine!</p>
            <h2>Rick should be able to update it</h2>
        </div>
    </div>
</div>
{% endblock %}
</html>