<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    <div class="card bg-dark border-0">
        <div class="card-header border border-secondary rounded-top">
            Contact Info
        </div>
        <div class="card-body border border-secondary">
            <p class="card-text">Street Address: 3443 Lee Avenue</p>
            <p class="card-text">City: Laurel Springs</p>
            <p class="card-text">State: New Jersey</p>
            <p class="card-text">Zipcode: 08021</p>
        </div>
        <div class="mt-4 card-header border border-secondary rounded-top">
            Main Contact
        </div>
        <div class="card-body border border-secondary">
            <p class="card-text">{{ contacts.main_contact.user.first_name }} {{ contacts.main_contact.user.last_name }}</p>
            <p class="card-text">{{ contacts.main_contact.user.email }}</p>
            <p class="card-text">{{ contacts.main_contact.phone_number }}</p>
        </div>
        <div class="mt-4 card-header border border-secondary rounded-top">
            Additional Contacts
        </div>
        {% for contact in contacts.additional_contacts %}
        <div class="card-body border border-secondary">
            <p class="card-text">{{ contact.user.first_name }} {{ contact.user.last_name }}</p>
            <p class="card-text">{{ contact.user.email }}</p>
            <p class="card-text">{{ contact.phone_number }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>