<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container text-center">
    ctrl + R duplicates photos -> upload and delete
    <button type="button" class="d-flex btn btn-info" data-bs-toggle="modal" data-bs-target="#updateModal">Upload</button>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Photo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data" action="/gallery/update">
                    {% csrf_token %}
                    <div class="modal-body text-start">
                        <div class="mb-3">
                            <input class="form-control" type="file" name="photo">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% for image in images %}
    <img class="rounded mb-1" src="{{ image.image.url }}" alt height=200>
    {% endfor %}
</div>
{% endblock %}
</html>