<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    <div class="row justify-content-start">
        <div class="col-5">
            <img class="rounded" src="/media/info_building.png" alt height=280>
            <img class="rounded mt-3" src="/media/info_stage.png" alt height=280>
        </div>
        <div class="col">
            <p>ArtsyVerse description, mission and vision.</p>
            <p>Unlock your artistic potential at Artsyverse! Enhance your musical and dance abilities with our school and become a better performer every day.</p>
        </div>
    </div>
</div>
{% endblock %}
</html>