<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    <div class="accordion mt-4" id="accordionAssignment">
        {% for name, grouped_assignment in grouped_assignments.items %}
        <div class="accordion-item bg-dark border-0">
            <h2 class="accordion-header" id="heading{{ name }}">
                <button type="button" class="accordion-button bg-dark collapsed" style="color:white" data-bs-toggle="collapse" data-bs-target="#collapse{{ name|cut:' ' }}" aria-expanded="true" aria-controls="collapse{{ name }}">
                    <b>{{ name }}</b>
                </button>
            </h2>
            <div id="collapse{{ name|cut:' ' }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ name }}" data-bs-parent="#accordionAssignment">
                <div class="accordion-body">
                    {% for type, assignment_dict in grouped_assignment.items %}
                    <div class="row text-center">
                        <button type="button" class="btn btn-secondary" disabled>{{ type|upper }} LESSONS</button>
                    </div>
                    {% if type == 'Individual' %}
                    {% if user.groups.all.0|slugify != 'coaches' %}
                    <button type="button" class="btn btn-info px-4 mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#request{{ assignment_dict.class_id }}">Request</button>
                    {% endif %}
                    <div class="modal fade" id="request{{ assignment_dict.class_id }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content bg-dark">
                                <div class="modal-header">
                                    <h5 class="modal-title">Request Assignment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post" action="/user/assignment/request/{{ assignment_dict.class_id }}">
                                    {% csrf_token %}
                                    <div class="modal-body text-start">
                                        {{ assignment_dict.form_assignment_request.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    {% if user.groups.all.0|slugify == 'coaches' %}
                    <button type="button" class="btn btn-info px-4 mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#add{{ assignment_dict.class_id }}">Add</button>
                    {% endif %}
                    <div class="modal fade" id="add{{ assignment_dict.class_id }}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content bg-dark">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add Assignment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form method="post" action="/user/assignment/request/{{ assignment_dict.class_id }}">
                                    {% csrf_token %}
                                    <div class="modal-body text-start">
                                        {{ assignment_dict.form_assignment_request.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% for assignment in assignment_dict.assignments %}
                    <div class="card bg-dark border-0">
                        <div class="card-header border-bottom border-secondary bg-dark text-center mt-4">
                            <b>{{ assignment.name }}</b>
                        </div>
                        <div class="card-body">
                            <p><i>{{ assignment.skill_degree }}</i></p>
                            {% if type == 'Individual' %}
                            <p><b>Coach Notes:</b></p>
                            {% if assignment.coach_notes %}
                            <p>{{ assignment.coach_notes }}</p>
                            {% else %}
                            <p>[   ]</p>
                            {% endif %}
                            <p><b>Student Notes:</b></p>
                            {% if assignment.student_notes %}
                            <p>{{ assignment.student_notes }}</p>
                            {% else %}
                            <p>[   ]</p>
                            {% endif %}
                            {% else %}
                            <p><b>Notes:</b></p>
                            {% if assignment.coach_notes %}
                            <p>{{ assignment.coach_notes }}</p>
                            {% else %}
                            <p>[   ]</p>
                            {% endif %}
                            {% endif %}
                            {% if type == 'Individual' or user.is_authenticated and user.groups.all.0|slugify == 'coaches' %}
                            <button type="button" class="btn btn-info float-end px-4" data-bs-toggle="modal" data-bs-target="#update{{ assignment.id }}">Update</button>
                            <div class="modal fade" id="update{{ assignment.id }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content bg-dark">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Update {{ type }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="post" action="/user/assignment/update/{{ assignment.id }}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="modal-body text-start">
                                                <div class="mb-3">
                                                    {{ assignment.form_assignment_update.as_p }}
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>