<!DOCTYPE html>
{% extends 'main/base.html' %}
<html>
{% block content %}
<div class="container">
    <p class="text-center mt-2">UPCOMING CLASSES</p>
    <div class="card bg-dark border-0">
        {% for class in classes %}
        <div class="card-header border border-secondary rounded text-center mt-2 ">
            {{ class.name }} {{ class.type }}
        </div>
        <div class="card-body">
            <div class="row justify-content-start">
                <div class="col-3 text-center">
                    <img class="rounded" src="{{ class.photo.url }}" alt height=185>
                </div>
                <div class="col">
                    <p>{{ class.day_name }}</p>
                    <p>{{ class.start_time|date:'h:i A' }} - {{ class.end_time|date:'h:i A' }}</p>
                    <p>{{ class.location }}</p>
                    {% if user.is_authenticated and user.groups.all.0|slugify == 'coaches' %}
                    <button>GO TO STUDENT'S ASSIGNMENTS</button>
                    individual - button (get assignments)
                    {% else %}
                    <p>{{ class.user }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>
