<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load define_action %}
{% load get_suffix %}
{% load get_value %}
<html>
# what if there were no messages yet ?
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
.scrollspy-example {
    position: relative;
    height: 750px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
</style>
<div class="container">
    {% if user.is_superuser and not user.groups.all.0|slugify == 'coaches' and not user.groups.all.0|slugify == 'students' %}
    ADMIN THAT IS NOT COACH CAN'T SEND MESSAGES
    {% else %}
    <div class="card border-0">
        <div class="row">
            <div class="col-12 col-lg-5 col-xl-3">
                <div class="row px-3 py-2 mt-2 mb-3">
                    <div class="col-2 px-0">
                        <img class="rounded" src="/media/icons/magnifier.png" alt width="40">
                    </div>
                    <link rel="stylesheet" href="/path/to/cdn/bootstrap.min.css" />
                    <div class="col-10 p-0">
                        <form method="get" action="{% url 'messages-recipients-search' %}">
                            {% csrf_token %}
                            <input type="text" class="form-control" id="search" name="search_query" placeholder="Search...">
                        </form>
                    </div>
                    <script>
                        $(function() {
                            $("#search").autocomplete({
                                source: "{% url 'user-autocomplete' %}",
                                minLength: 2,
                            });
                        });
                    </script>
                </div>
                {% for recipient, messages in grouped_messages.items %}
                {% if messages %}
                <a href="/user/messages/{{ recipient.id }}" class="list-group-item list-group-item-action">
                    {% get_suffix request.get_full_path as path_suffix %}
                    {% if recipient.id|slugify == path_suffix or recipient.id|slugify == current_recipient.id|slugify %}
                    {% define "border border-5 border-primary" as recipient_border %}
                    {% else %}
                    {% define "border-0" as recipient_border %}
                    {% endif %}
                    <div class="d-flex rounded px-2 py-1 mb-2 {{ recipient_border }}" style="background-color:#CFF1F8;color:black">
                        <div class="flex-grow-1 ml-3"><b>{{ recipient.first_name }} {{ recipient.last_name }}</b></div>
                        {% if messages.unread %}
                        <span class="badge bg-primary float-right">+{{ messages.unread }}</span>
                        {% endif %}
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            {% if current_recipient %}
            {% with current_messages=grouped_messages|get_value:current_recipient %}
            <div class="col-12 col-lg-7 col-xl-9">
                <div class="px-3 py-3 mt-2 mb-3 border-bottom">
                    <b>{{ current_recipient.first_name }} {{ current_recipient.last_name }}</b>
                </div>
                <div class="position-relative">
                    <div data-bs-spy="scroll" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                        {% for message in current_messages.messages %}
                        <div class="chat-messages p-3">
                            <div class="chat-message px-4">
                                {% if user == message.recipient %}
                                {% define "float-start" as message_pos %}
                                {% define "text-start" as text_pos %}
                                {% define current_recipient.first_name as username %}
                                {% else %}
                                {% define "float-end" as message_pos %}
                                {% define "text-end" as text_pos %}
                                {% define "You" as username %}
                                {% endif %}
                                <div class="row">
                                    <div>
                                        <div class="text-muted small text-nowrap {{ message_pos }}">{{ message.datetime|date:'m/d/y h:i A' }}</div>
                                    </div>
                                    <div class="col">
                                        <div class="card border-0 {{ message_pos }} {{ text_pos }}">
                                            <div class="card-header border-0 bg-dark">
                                                <b><small style="color:#EED6CA">{{ username }}</small></b>
                                            </div>
                                            <div class="card-body rounded-3" style="background-color:#EED6CA;color:black">
                                                {{ message.text }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="chat-messages px-4 mt-3">
                        <form method="post" action="/user/message/send">
                            {% csrf_token %}
                            <div class="row px-3 py-3 border-top">
                                <div class="col-11 p-0">
                                    {{ form_message_send|crispy }}
                                </div>
                                <div class="col-1 px-0">
                                    <button class="btn btn-info" type="submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endwith %}
                {% else %}
                No messages - find recipient and start typing :)
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
</html>