<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
{% load define_action %}
<html lang="en" data-bs-theme="dark">
<style>
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #212529;
  padding: 15px;
  z-index: 100;
}
.asteriskField {
  display: none;
}
.accordion-button:focus {
  z-index: 1;
  box-shadow: 0 0 0 .0rem #FFF !important;
}
.accordion-button:not(.collapsed) {
  background-color: #3E4449 !important;
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <title>{{ school_data.name }} {{ school_data.slogan }}</title>
    <link rel="icon" type="image/x-icon" href="{{ school_data.favicon }}">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 mt-2 border-bottom">
            <a href="/"><img class="bi me-2" src="{{ school_data.logo }}" alt width=300></a>
            <div class="btn-group">
                {% for nav, ref in navbar.items %}
                {% if nav|slugify in request.get_full_path  %}
                {% define "btn-secondary" as button_type %}
                {% else %}
                {% define "btn-dark" as button_type %}
                {% endif %}
                <a class="btn {{ button_type }}" href="{{ ref }}">{{ nav }}</a>
                {% endfor %}
                {% if user.is_superuser and "/user" in request.get_full_path %}
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" style="color:#EBDEF0" href="/user/admin/users">Users</a></li>
                        <li><a class="dropdown-item" style="color:#EBDEF0" href="/user/admin/classes">Classes</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col-md-3 text-end">
                {% if user.is_authenticated %}
                {% if request.get_full_path == "/user/"  %}
                {% define "btn-secondary" as button_type %}
                {% endif %}
                <div class="btn-group">
                    {% if user.first_name %}
                    <a class="btn {{ button_type }}" href="/user">{{ user.first_name }}</a>
                    {% else %}
                    <a class="btn {{ button_type }}" href="/user">Me</a>
                    {% endif %}
                    <a class="btn btn-info" href="/logout">Log Out</a>
                </div>
                {% else %}
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#login">Log In</button>
                <div class="modal fade" id="resetPassword">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Reset Password</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form class="text-center mt-3" method="post" action="/user/settings/password/reset">
                                    {% csrf_token %}
                                    {{ password_reset_form|crispy }}
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="login" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Log In</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form class="text-center mt-3" method="post" action="/login">
                                    {% csrf_token %}
                                    {{ login_form|crispy }}
                                    <a href="/settings/password/reset" class="link-warning mb-2" data-bs-toggle="modal" data-bs-target="#resetPassword" data-bs-dismiss="modal"><small>Reset Password</small></a>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </header>
    </div>
</head>
<body class="d-flex flex-column min-vh-100" style="color:#EBDEF0;font-family:Candara">
{% block content %}
{% endblock %}
</body>
<br><br>
<footer>
    <div class="container">
        {% block footer %}
        <span class="text-muted">&copy; Copyright {% now 'Y' %} <b>{{ school_data.name }}</b>. All rights reserved.</span>
        {% endblock %}
    </div>
</footer>
</html>